$font: sans-serif;
$border: 3px solid #607d8b;

* {
  font-family: $font;
  text-align: center;
  color: #607d8b;
}

.settings {
  margin-top: 100px;
  margin-bottom: 100px;
}

.action {
  color: #d15a5a;
}

h1 {
  font-size: 40px;
}

input[type='button'] {
  padding: 7px 16px;
  margin: 0px;
  font-size: 26px;
  background: none;
  border: $border;
  &:hover {
    border: 3px solid #d15a5a;
  }
}

.game-grid {
  max-width: 300px;
  margin: 50px auto;
  // display: none;
  :last-child {
    border-bottom: none;
  }
}

.row {
  display: flex;
  border-bottom: $border;
  :last-child {
    border-right: none;
  }
  p {
    width: 100px;
    height: 100px;
    margin: 0px; 
    border-right: $border;
    border-bottom: none;
    font-size: 50px;
    font-weight: 300;
    line-height: 100px;
  }
}
