@font-face {
  font-family: 'DSDIGI';
  src: url('../font/DSDIGI.eot');
  src: local('DSDIGI'), 
      url('../font/DSDIGI.woff') format('woff'), 
      url('../font/DSDIGI.ttf') format('truetype');
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  height: 100%;
  min-height: 100%;
  max-height: 100%;

  position: relative;
  padding-bottom: 30px;
  background-color: #000;
}

footer {
  color: #e6e1cb;
  margin-left: 20px;
  padding-bottom: 30px;
}

a {
  color: #e6e1cb;
  text-decoration: none;
}

a:hover {
  color: white;
}

.row {
  display: inline-block;
  margin: 5px;
}

.control {
  position: absolute;
  background-color: #f1f1f1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 30px solid #000;
  
  padding: 30px;
  text-align: center;
}

.control * {
  margin-top: 5px;
}

.control > :first-child {
  margin-top: 10px;
  margin-bottom: 0px;
}


.control .btn-ctrl {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid #565656;
  -moz-box-shadow:    2px 6px 0 0 #b1b1b1;
  -webkit-box-shadow: 2px 6px 0 0 #b1b1b1;
  box-shadow:         2px 6px 0 0 #b1b1b1;
}

.control #start {
  background-color: #771f1f
}

.control #start:hover {
  background-color: #E9151A
}

.control #strict {
  background-color: #A38D0F
}

.control #strict:hover {
  background-color: #FCDD02
}

.control #reset {
  background-color: #A38D0F
}

.control #reset:hover {
  background-color: #FCDD02
}

#count {
  width: 130px;
  margin: auto;
  border-radius: 8px;
  font-size: 60px;
  background-color: #000;
  color: #bdefed;
  font-family: 'DSDIGI' !important;
}

.control .flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.btn-row {
  display: flex;
  align-items: horizontal;
  width: 100%;
  height: 50%;
}

.btn {
  box-sizing: border-box;
  display: inline-block;
  margin: 0px;
  width: 50%;
  height: 100%;
  border: 20px solid #000;
}

.b1 {
  background-color: #03a64d;
}

.b1:hover {
  background-color: #04EF6E;
}

.b2 {
  background-color: #af3138;
}

.b2:hover {
  background-color: #C94049;
}

.b3 {
  background-color: #ebc30d;
}

.b3:hover {
  background-color: #FFE375;
}

.b4 {
  background-color: #1e8dff;
}

.b4:hover {
  background-color: #56AAFE;
}

.light {
  background-color: #fff !important;
}