* {
  font-family: sans-serif;
  text-align: center;
  color: #607d8b; }

.settings {
  margin-top: 100px;
  margin-bottom: 100px; }

.action {
  color: #d15a5a; }

h1 {
  font-size: 40px; }

input[type='button'] {
  padding: 7px 16px;
  margin: 0px;
  font-size: 26px; }

.game-grid {
  max-width: 300px;
  margin: 50px auto; }
  .game-grid :last-child {
    border-bottom: none; }

.row {
  display: flex;
  border-bottom: 3px solid #607d8b; }
  .row :last-child {
    border-right: none; }
  .row p {
    width: 100px;
    height: 100px;
    margin: 0px;
    border-right: 3px solid #607d8b;
    border-bottom: none;
    font-size: 50px;
    font-weight: 300;
    line-height: 100px; }
