@font-face {
    font-family: 'notcouriersans';
    src: url('../fonts/NotCourierSans-webfont.eot');
    src: url('../fonts/NotCourierSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NotCourierSans-webfont.woff') format('woff'),
         url('../fonts/NotCourierSans-webfont.ttf') format('truetype'),
         url('../fonts/NotCourierSans-webfont.svg#notcouriersans') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: sans-serif;
  margin: 20px 4px;
  text-decoration: none;
}

p {
  text-align: center;
  margin-top: 40px;
}

a:link, a:visited {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 370px;
  margin: 0 auto;
}

.buttons {
  max-width: 269px;
  margin: auto;
}

.buttons input {
  width: 58px;
  height: 58px;
  margin: 4px 2px;
  border-style: none;
  font-size: 1.2em;
  color: #fff;
  background-color: #032333;
  -moz-border-radius: 35px;
  border-radius: 35px;
}

.buttons input.clear {
  background-color: #680000;
}

.buttons input:hover {
  background-color: #074260;
}

.buttons input:active {
  background-color: #449ac5;
}

.display {
  width: 100%;
  padding: 20px 0px;
  margin-bottom: 20px;
  border-style: none;
  border-bottom: 2px solid #032333;
  background-color: #f1f1f1;
  text-align: right;
  font-size: 2.5em;
  font-family: 'notcouriersans', sans-serif;
}

